<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahoo.android.search.showcase">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomAppTheme"
        android:name=".MyApplication">
        <activity
            android:name=".SearchDemoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Start: Search SDK Activities-->
        <activity
            android:name="com.yahoo.mobile.client.share.search.ui.activity.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name="com.yahoo.mobile.client.share.search.ui.activity.ImageGalleryActivity"
            android:windowSoftInputMode="stateHidden"
            android:logo="@drawable/back_icon"
            android:label=""
            android:theme="@style/SearchToLink.Preview"/>

        <activity
            android:name="com.yahoo.mobile.client.share.search.ui.activity.SearchToLinkActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.yahoo.mobile.client.share.search.ui.activity.SearchBrowserActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:logo="@drawable/back_icon"
            android:label=""
            android:theme="@style/SearchToLink.Preview" />

        <!--End: Search SDK Activities-->

    </application>

</manifest>
